:root {
  background-color: rgb(50, 50, 50);
  max-width: 1000rem;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: fixed;
  background-color: rgb(84, 112, 64);
  width: 1540px;
  height: 80px;
  z-index: 10;
}

.nav-text {
  display: flex;
  font-size: 1.5rem;
  padding-left: 50px;
  padding-top: 17px;
  color: white;
  font-family: "Princess Sofia", cursive;
  font-weight: 300;
  font-style: normal;
}

.nav-item {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-top: 28px;
  padding-left: 430px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item :hover {
  color: rgb(148, 148, 148);
}

.sosmed {
  padding-left: 440px;
  padding-top: 30px;
}

.sosmed a {
  color: rgb(255, 255, 255);
  padding: 12px;
}

.sosmed a :hover {
  color: rgb(148, 148, 148);
}

header {
  background-image: url(forest.bg.jpeg);
  background-size: cover;
  height: 750px;
  border-radius: 0px 0px 300px 300px;
  margin: 0;
}

.text-port {
  text-align: center;
  padding-top: 320px;
  color: rgb(216, 216, 216);
  font-size: 60px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 0.1px rgb(239, 239, 239);
}

.aboutme {
  display: flex;
  background-color: rgb(50, 50, 50);
  position: relative;
}

.aboutme-txt {
  margin-top: 100px;
}

.aboutme-txt p {
  margin-top: 10px;
  color: white;
  padding: 0px 250px 0px 0px;
  text-align: justify;
  font-size: 30px;
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  z-index: 1;
}

.pfp img {
  width: 550px;
  height: auto;
  padding: 60px 0px 40px 60px;
}

.aboutme-txt h2 {
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.button {
  margin-top: -150px;
  margin-left: 580px;
  margin-bottom: 100px;
  position: relative;
  z-index: 4;
}

button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #c4d8c2;
  box-shadow: 0px 0px 20px -18px;
}

button:active {
  transform: scale(0.95);
}

.skills {
  padding: 40px;
  text-align: center;
}

.skills h2 {
  margin-bottom: 20px;
  font-size: 64px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}

.skill-card {
  background-color: rgba(37, 70, 47, 1);
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  width: 300px;
  height: 150px; /* ukuran card */
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(163deg, #89d4a7 0%, #334511 100%);
  border-radius: 20px;
  transition: all 0.3s;

  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.skill-card img {
  width: 70px;
  padding: 20px 0px 20px 113px;
}

.skill-card:hover {
  box-shadow: 0px 0px 20px 3px rgba(170, 218, 192, 0.3);
  transform: scale(1.03);
}

.project {
  padding: 40px;
  text-align: center;
  margin-top: 200px;
}

.project h2 {
  margin-bottom: 20px;
  font-size: 65px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-bottom: 70px;
}

.border-project {
  display: flex;
  gap: 10px;
  width: 1100px;
  margin-left: 170px;
  margin-bottom: 150px;
}

.project-img {
  background-color: #fff;
  height: 400px;
  flex: 1;
  border-radius: 16px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgba(60, 98, 78, 1) 3px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* gambar penuh tapi tetap rapi */
  border-radius: 16px;
  display: block;
}

.project-img:hover {
  flex: 2;
  background-color: #b8b8b8;
}

/* .input-container {
  position: relative;
  margin: 50px auto;
  width: 400px;
  margin-left: 90px;
  margin-left: 280px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #2c7e36;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #ffffff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
} */

/* ===== FORM STYLE ===== */

form {
  width: 300px;
  margin: 70px;
  margin-left: 320px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: solid white;
  border-radius: 30px;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: white;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}



.contact-h2 {
  margin-bottom: 20px;
  font-size: 55px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-bottom: 60px;
  margin-top: 20px;
}

.myinfo {
  background-color: rgb(84, 112, 64);
  border-radius: 20px;
  width: 430px;
  height: 550px;
}

.info {
  display: flex;
}

.myinfo h2 {
  margin: 30px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.sosmed-myinfo {
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 250px;

  display: flex;

  gap: 6px;

}

.sosmed-myinfo p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
  
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sosmed-myinfo a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  transition: 0.2s;
  word-break: break-all;
  
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.sosmed-myinfo a:hover {
  color: #9b9b9b;
}

/* ===== FOOTER ===== */
footer {
  width: 100%;
  background-color: rgb(84, 112, 64);
  padding: 40px 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#footer .container {
  text-align: center;
  color: white;
}

#footer .copyright p {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: "Margarine", sans-serif;
}

#footer .credits a:hover {
  color: rgb(210, 210, 210);
}




@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    position: fixed;
    background-color: rgb(84, 112, 64);
    height: 80px;
  }

  .nav-text {
    display: flex;
    font-size: 1.5rem;
    padding-left: 50px;
    padding-top: 18px;
    color: white;
  }

  .nav-item {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 30px;
    padding-left: 120px;
  }

  .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .nav-item :hover {
    color: rgb(148, 148, 148);
  }

  .sosmed {
    padding-left: 65px;
    padding-top: 30px;
  }

  .sosmed a {
    color: rgb(255, 255, 255);
    padding: 12px;
  }

  .sosmed a :hover {
    color: rgb(104, 158, 208);
  }

  header {
    background-image: url(forest.bg.jpeg);
    background-size: cover;
    height: 600px;
    border-radius: 0px 0px 300px 300px;
    margin: 0;
  }

  .text-port {
    text-align: center;
    padding-top: 260px;
    color: rgb(216, 216, 216);
    font-size: 50px;
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: 0.1px rgb(239, 239, 239);
  }

  .aboutme {
    display: flex;
    background-color: rgb(50, 50, 50);
    margin-top: 50px;
  }

  .aboutme-txt {
    margin-top: 0;
  }

  .aboutme-txt p {
    margin-top: 10px;
    color: white;
    padding: 0px 80px 0px 0px;
    text-align: justify;
    font-size: 15px;
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .pfp img {
    width: 300px;
    height: auto;
    margin-left: -40px;
  }

  .aboutme-txt h2 {
    font-size: 40px;
    padding-top: 120px;
    padding-bottom: 0px;
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  .skills {
    padding: 40px;
    text-align: center;
  }

  .skills h2 {
    margin-bottom: 20px;
    font-size: 34px;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .skill-card {
    background-color: rgba(37, 70, 47, 1);
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    width: 150px;
    height: 110px; /* ukuran card */
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .skill-card img {
    width: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .project {
    padding: 40px;
    text-align: center;
    margin-top: 100px;
  }

  .project h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 50px;
  }

  .border-project {
    display: flex;
    gap: 10px;
    width: 700px;
    margin-left: 0px;
  }

  .project-img {
    background-color: #fff;
    height: 250px;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* gambar penuh tapi tetap rapi */
    border-radius: 16px;
    display: block;
  }

  /* .input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
  margin-left: 90px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #2c7e36;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #2c7e36;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #b6e2bb;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #b6e2bb;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.contact-h2 {
  margin-bottom: 20px;
  font-size: 55px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-bottom: 0px;
  margin-left: 90px;
} */

.myinfo {
  background-color: rgb(84, 112, 64);
  border-radius: 20px;
  width: 300px;
  margin-left: 10px;
}

.info {
  display: flex;
}

.myinfo h2 {
  margin: 30px;
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

form {
  width: 300px;
  margin: 70px;
  margin-left: 30px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: solid white;
  border-radius: 30px;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: white;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


}
